# Node modules (EAS server will install them)
node_modules/

# Expo & Metro cache / build dirs
.expo/
.expo-shared/
metro-cache/
android/build/
android/.gradle/
ios/build/
build/

# Local environment files (IMPORTANT)
.env
.env.*
config.env

# IDEs / local configs
.vscode/
.idea/

# Logs
*.log
*.log.*

# Git
.git/
.gitignore
.gitattributes

# Optional: ignore Android Gradle wrapper outputs
android/.cxx/
android/.externalNativeBuild/